
<button id="@Id" type="button" @onclick="@OnClick" class="custbtn-default-css @BtnCss"
		style="background : @Background; font-size : @FontSize; color : @Color; border-radius : @BorderRadius !important;">
	<div class="custbtn-default-wrapper-css">
		@if (StartIcon is not null)
		{
			@StartIcon
		}
		<div>@Label</div>
		@if (EndIcon is not null)
		{
			@EndIcon
		}
	</div>
</button>

@code {
	[Parameter]
	public string Id { get; set; } = string.Empty;

	[Parameter]
	public EventCallback OnClick { get; set; }

	[Parameter]
	public RenderFragment? Label { get; set; }

	[Parameter]
	public RenderFragment? StartIcon { get; set; }

	[Parameter]
	public RenderFragment? EndIcon { get; set; }

	[Parameter]
	public string BtnCss { get; set; } = string.Empty;

	[Parameter]
	public string Background { get; set; } = string.Empty;

	[Parameter]
	public string Color { get; set; } = string.Empty;

	[Parameter]
	public string FontSize { get; set; } = string.Empty;

	[Parameter]
	public string BorderRadius { get; set; } = string.Empty;
}
