@page "/owner/Category"
@layout MainLayout

<div id="mainbody" class="main-body">
    <div id="viewbody" class="view-body">
    </div>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await R.ComFn.CalBodyHeight();
        }
    }
}