/* ======== Dashboard ============ */

.dsah-box-style {
    border-radius: 10px;
    background: #2b2c2f;
}

.chart-area {
    max-height: 300px;
    min-height: 300px;
}

#line-area {
    /*max-height: 400px;
    min-height: 400px;*/
}

.dash-second .dash-ds-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-df-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ddf-1-card {
    /*background: linear-gradient(147deg, #00000047, #00000047, #00000047, var(--core-color));
    padding: 10px;*/
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #3b3b3b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}

    .ddf-1-card div:nth-child(1) {
        /*color: var(--core-color);
        font-weight: bold;*/
    }
    .ddf-1-card div:nth-child(2) {
        font-size: 18px;
        color: var(--core-color);
        font-weight: bold;
    }
    .ddf-1-card div:nth-child(3) {
        font-size: 12px;
        font-style: italic;
        color: gray;
    }

/*@media(min-width:767px) 
{
    #line-area {
        max-height: 400px;
        min-height: 400px;
    }
}*/
/* ======== Dashboard ============ */