<div id="mainheader" class="main-header">
    <div class="mh-first-div">@R.Gva.CurrentPage</div>
    <div class="mh-second-div">
        <div>@SVGService.BellIcon(20,20)</div>
        <div>Notification</div>
    </div>
    <div class="mh-third-div">
        <div>@SVGService.CalendarIcon(20, 20)</div>
        <div>@DateTime.Now.ToString("dddd, dd MMMM yyyy")</div>
    </div>
</div>

@code {

}
