<div class="nav-container">
    <div class="logo-box">
        <span>
            <AppIcon Height="35" Width="35" />
        </span>
    </div>
    <div class="nav-menu-container">

        <div class="nav-menu-item-container">
            @foreach (var menuitem in MenuList)
            {
                @if (menuitem.SubMenu.Any())
                {
                    @*  <div class="nav-mainmenu-text pointer">
                        @menuitem.MainMenu 
                    </div> *@
                    foreach (var menu in menuitem.SubMenu)
                    {
                        <div @onclick="()=>OnSelectMenu(menu)" class="nav-menu-item @(menu == R.Gva.CurrentPage ? "nav-selected-item":"")">
                            <div>@SVGService.NavManuIcons(23, 23, menu)</div>
                            @* <div>@menu</div> *@
                        </div>
                    }
                }

            }
        </div>
    </div>
</div>

@code{

    private List<NavMenuItem> MenuList = new List<NavMenuItem>()
    {
        new NavMenuItem()
        {
            SubMenu = new List<string>()
            {
                //MenuSection.Order,
                MenuSection.Main,
                //MenuSection.Category,
                //MenuSection.Discount,
            }
        },
    };

    private void OnSelectMenu(string menu)
    {
        R.Gva.CurrentPage = menu;
        if (R.Gva.CurrentPage == MenuSection.Main)
        {
            R.Nav.NavigateTo("/");
            return;
        }
        R.Nav.NavigateTo(R.Gva.CurrentPage);
    }
}