@inherits LayoutComponentBase

<div id="main-page" class="page">
    @if (isFinishedInit)
    {
        <MainHeader />
        <NavMenu />
        <main>
            @Body
        </main>
    }
    else
    {
        //Add data initializing UI
    }
</div>

@code {
    private bool isFinishedInit;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                R.ComFn.JSConsole("FIRE MAINL 1");
                await R.JSRuntime.InvokeVoidAsync("CommonJSFunctions.SetMainPageHeight");
                //await R.ComFn.APIFuns.GetAllData();
                await R.SignalR.CreateConnection();
                isFinishedInit = true;
                await InvokeAsync(StateHasChanged);
            }
            catch (Exception ex)
            {
                R.ComFn.JSConsole("Exception", ex);
            }
        }
    }
}
