@implements IDisposable

<div id="mainheader" class="main-header">
    <div class="mh-first-div">@R.Gva.CurrentPage</div>
    <div class="mh-second-div">
        <button type="button" class="btn-none mh-left-btn">
            <div>@SVGService.BellIcon(20, 20)</div>
        </button>
        <button type="button" class="btn-none mh-left-btn">
            <div>@SVGService.ProfileIcon(30, 30)</div>
        </button>
    </div>
</div>

@code {


    protected override void OnInitialized()
    {
        R.Notifier.Listen += ReceivedEmit;
    }

    private async void ReceivedEmit(string on, string an, object? data)
    {
        if (on == NotifierObjectName.MainHeader && an == NotifierActionName.MainHeaderNameChange)
        {
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        R.Notifier.Listen -= ReceivedEmit;
    }
}
