@inherits LayoutComponentBase

<div id="main-page" class="page">
    @if(isFinishedInit)
    {
        <NavMenu />
        <main>
            @Body
        </main>
    }
    else
    {
        //Add data initializing UI
    }
</div>

@code{
    private bool isFinishedInit;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await JSRuntime.InvokeVoidAsync("CommonJSFunctions.SetMainPageHeight");
                await ComFn.APIFuns.GetAllData();
                isFinishedInit = true;
                await InvokeAsync(StateHasChanged);
            }
            catch (Exception ex)
            {
                ComFn.JSConsole("Exception", ex);
            }
        }
    }
}
