:root {
    /*App's Color*/
    --app-bg-color: #F5F5F5;
    --content-bg-color: #d1d1d1;
    --core-color: #2bacfd;
    --core-color-dark: #1a8fd8;
    --core-light-color: #d4e9ff;
    --core-second-color: #201d2b;
    --text-color: #000000;
    --core-text-color: #000000;
    --icon-color: #000000;
    /*NavMenu*/
    --nav-bg-color: #FAFAFA;
    --nav-selbg-color: #e7efff;
    --nav-text-color: #000000;
    --nav-ind-color: #a2d0eded;
    /*UtilitiesColor*/
    --mh-text-color: #6b6b6b;
    --hover-color: #f1f3f5;
    --dark-color: #212529;
    --accent-color: #4895ef;
    /*Utilities*/
    --navexpen-size: 180px;
    --transition-speed: 0.3s;
    --sidebar-width: 250px;
    --sidebar-collapsed-width: 80px;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/Sansation-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'MyCustomFont', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 16px;
}

button{
    min-height : 42px;
}

/*==========Utlities==============*/

.full{
    width : 100%;
    height : 100%;
}

.w-full{
    width : 100%;
}
.h-full{
    height : 100%;
}

.my-row{
    margin : 0;
    padding : 0;
}

.btn-none{
    outline : none;
    border : none;
    background : none;
}
.btn-none:focus{
    outline : none;
}

/*============Utlities========*/

#main-page{
    background : var(--app-bg-color);
    overflow : hidden;
    display : flex;
    flex-direction : column;
}

main {
    margin-left: var(--sidebar-collapsed-width);
    /*padding: 15px 15px 15px 15px;*/
    overflow: auto;
}

.pointer{
    cursor : pointer;
}

.main-body{
    height : 100%;
}

.main-header {
    width: 100%;
    min-height: 45px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-left : var(--sidebar-collapsed-width);
    align-items : center;
    color : var(--mh-text-color);
    border-bottom: 1px solid #e7e7e7;
}

    .main-header .mh-first-div {
        font-weight: bold;
        margin-left: 15px;
        font-size: 18px;
    }

    .main-header .mh-second-div {
        height : 100%;
        padding-right : 10px;
    }

        .main-header .mh-second-div .mh-left-btn {
            height: 100%;
            width : 44px;
        }

            .main-header .mh-second-div .mh-left-btn div:nth-child(1) {
               /* margin-bottom: 5px;*/
            }

    .main-header .mh-third-div {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-right : 10px;
    }

        .main-header .mh-third-div div:nth-child(1) {
            margin-bottom: 5px;
        }

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #595656;
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--core-color);
    color : black;
}

td{
    color : var(--nav-text-color);
}

.view-header {
    width: 100%;
    min-height: 60px;
    background: #FFFFFF;
    display : flex;
    justify-content : space-between;
}

.view-body{
    width : 100%;
    padding : 10px;
}