
.nav-container {
    height: 100%;
    width: 65px;
    background: var(--nav-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #e7e7e7;
}

.logo-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    gap: 5px;
    font-size: 16px;
    /*padding-top: 5px;*/
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

    .logo-box :is(span) {
        font-weight: bold;
        color : var(--core-color);
    }

    .logo-box span:nth-child(3) {
        border: 1px solid;
        padding: 3px 5px;
        border-radius: 20px;
        font-style : italic;
    }


.nav-menu-container
{
    margin-top : 50px;
    height : calc(100% - 100px);
}

.nav-menu-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*padding-top: 15px;*/
    padding-bottom: 15px;
   /* margin: 0px 10px;*/

}

.nav-menu-item {
    display: flex;
    align-items: center;
    padding: 5px;
    color: var(--nav-text-color);
    position: relative;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    justify-content : center;
    gap : 10px;
    padding-left : 10px !important;
}

.nav-selected-item {
    font-weight: bold;
    color: var(--core-color);
    transition: all ease-in-out 0.2s;
    padding: 5px 5px 10px 5px;
    background: linear-gradient(93deg, var(--nav-selbg-color), var(--nav-selbg-color), var(--nav-selbg-color));
    border-right: 3px solid var(--core-color);
}

.nav-sub-hide {
    position: absolute !important;
    top: 200px !important;
    opacity: 0 !important;
    z-index: -1000 !important;
    display: none !important;
    transition: all ease-in-out 0.2s;
}

.nav-menu-item div:nth-child(1) {
    /*width: 27%;*/
}

.nav-menu-item div:nth-child(2) {
    width: 72%;
    font-size: 14px;
    margin-top : 5px;
}

.nav-menu-bottom-section{
    position : absolute;
    bottom : 10px;
    width :100%;
}

.nav-mainmenu-text {
    font-size: 14px;
    color: var(--nav-text-color);
    font-weight : bold;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.nav-expend-btnbox {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 50px;
}
    .nav-expend-btnbox button {
        width: 100%;
        height: 100%;
        color: var(--core-color);
        transform: rotate(180deg);
    }

.navmenu-label{
    display : none;
}

/* ----------------Expended ----------------*/
.nav-menu-expended .nav-container {
    width: var(--navexpen-size);
}

.nav-menu-expended main {
    margin-left: var(--navexpen-size);
}

.nav-menu-expended .navmenu-label {
    display: block;
}

.nav-menu-expended .nav-expend-btnbox button {
    display : flex;
    align-items : center;
}
.nav-menu-expended .main-header {
    padding-left: var(--navexpen-size);
}
/* ----------------Expended ----------------*/