@page "/owner"
@layout MainLayout
@implements IDisposable

<div id="mainbody" class="main-body">
    <div id="viewbody" class="view-body">
    </div>
</div>


@code {
    protected override void OnInitialized()
    {
       
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await R.ComFn.CalBodyHeight();
        }
    }

    private void ReceivedEmit(string on, string an, object? data)
    {
        
    }

    public void Dispose()
    {
        
    }
}
