@page "/owner/Orders"
@layout MainLayout

<div id="mainbody" class="main-body">
    <div id="viewbody" class="view-body">

    </div>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await R.ComFn.CalBodyHeight();
            R.ComFn.JSConsole("Gva categories", R.Gva.Categories);
            R.ComFn.JSConsole("Gva SubCategories", R.Gva.SubCategories);
            R.ComFn.JSConsole("Gva Items", R.Gva.Items);
            R.ComFn.JSConsole("Gva Discounts", R.Gva.Discounts);
        }
    }
}