@page "/"
@layout MainLayout
@implements IDisposable

<div id="mainbody" class="main-body">
    <div id="viewbody" class="view-body">
      
    </div>
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await R.ComFn.CalBodyHeight();
        }
    }

    private void Goto()
    {
        R.Nav.NavigateTo("/owner");
    }

    public void Dispose()
    {
       
    }
}
