.nav-container{
    height : 100%;
    width : 170px;
    background : var(--nav-bg-color);
    position : fixed;
    top : 0;
    left : 0;
}

.logo-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    gap: 5px;
    font-size: 16px;
    padding-top : 5px;
}

    .logo-box :is(span) {
        font-weight: bold;
        /* color : var(--core-color);*/
        color: #d1e8fb;
    }

    .logo-box span:nth-child(3) {
        border: 1px solid;
        padding: 3px 5px;
        border-radius: 20px;
        font-style : italic;
    }


.nav-menu-container
{
    margin-top : 50px;
    padding-top : 15px;
}

.nav-menu-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #5f5f5f;
    margin: 0px 10px;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 5px;
    color: var(--nav-text-color);
    position: relative;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.nav-selected-item {
    font-weight: bold;
    color: var(--core-color);
    transition: all ease-in-out 0.2s;
}

.nav-sub-hide {
    position: absolute !important;
    top: 200px !important;
    opacity: 0 !important;
    z-index: -1000 !important;
    display: none !important;
    transition: all ease-in-out 0.2s;
}

.nav-menu-item div:nth-child(1) {
    width: 27%;
}

.nav-menu-item div:nth-child(2) {
    width: 72%;
    font-size: 14px;
}

.nav-menu-bottom-section{
    position : absolute;
    bottom : 10px;
    width :100%;
}

.nav-mainmenu-text {
    font-size: 14px;
    color: var(--nav-text-color);
    font-weight : bold;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.nav-expend{
    margin-bottom : -7px;
}

.nav-expended-ind {
    transform: rotate(180deg);
}

