@page "/Permission"
@layout MainLayout


<div class="main-body">

    <div class="view-header" >
        <div class="vh-left d-none d-md-block" >
            <div class="vh-l-headtext">
                Permission
            </div>
        </div>
        <div class="vh-right" >
            <CustomButton Background="none" ><Label>@SVGService.PlusIcon(30, 30)</Label></CustomButton>
        </div>
    </div>

    <div class="view-body">
        
    </div>

</div>

@* <PopupModal @ref="modal" ModalHeaderFooter="(false,false)" >
    <ModalContent>
        
    </ModalContent>
    <ModalFooterRight>
        <CustomButton><Label>Cancel</Label></CustomButton>
        <CustomButton><Label>Save</Label></CustomButton>
    </ModalFooterRight>
</PopupModal>
     *@